@model IEnumerable<BootstrappingMVC.Models.Person>

@{ Html.RenderPartial("_PersonSearchForm"); }

<div id="people-data">
    @Html.DisplayForModel(Model)
</div>

<p>
    <a href="#"><span class="badge badge-danger">19</span></a>
</p>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#search-btn").click(function () {
                var searchTerm = $("#search-text").val();
                $.get("SearchPeople", { searchText: searchTerm })
                    .success(function(data) {
                        $("#people-data").html(data);
                    });
            });
        });
    </script>
}